/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */

h1 {
    color: #db0606;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #444;
}

a {
    color: #333;
    text-decoration: none;
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #666;
    font-weight: bold;
}

.link-social {
    color: #333;
    text-decoration: none;
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    background-color: #00000079;
}

#sobre {
    background-color: #00000079;
}

#habilidades {
    background-color: #00000079;
}

#projetos {
    background-color: #00000079;
}

#contato {
    background-color: #00000079;
}


/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #222;
}

footer p {
    color: #00CFFF;
}
